@model Skill
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Yetenekler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yeni Yetenek Ekleme Listesi</div>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="CreateSkill">


                            <label>Yetenek</label>
                            <input type="text" asp-for="Title" class="form-control" />

                            <br />

                            <label>Yetenek Değeri (Yüzde)</label>
                            
                            <div class="d-flex align-items-center">
                                <input type="range" asp-for="Value" min="0" max="100" step="1" class="form-control-range" id="valueSlider" onchange="updateSliderValue()">
                                <span id="sliderValue" class="ml-5" style="font-weight: bold;">50</span>%
                            </div>
                            <br />



                            <button class="btn btn-primary">Yetenek  Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateSliderValue() {
        var slider = document.getElementById("valueSlider");
        var value = slider.value;
        document.getElementById("sliderValue").innerText = value;
    }
</script>
